# Terraform / OpenTofu
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
*.tfvars
!example.tfvars

# Helmfile
helmfile.lock

# Secrets / clés
*.pem
*.key
*.pub
kubeconfig
.kube/

# OS
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/
*.swp
*.pdf
